@model StashMash.Models.YarnDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>YarnDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yarn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yarn.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YarnColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YarnColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YarnColorCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YarnColorCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YarnColorLot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YarnColorLot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityOfSkeins)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityOfSkeins)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.YarnDetailId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
