@model StashMash.Models.Yarn

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Yarn</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fiber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fiber.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FiberWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FiberWeight.FiberWeightId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkeinYardage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkeinYardage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkeinWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkeinWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeasurementUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeasurementUnit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Total Yarn Yardage")
        </dt>
        <dd class="col-sm-8">
            @ViewBag.totalYardage
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.YarnId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
